---
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon";
import { ThemeToggle } from "@/components/theme-toggle";
import { Instagram } from "lucide-react";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<footer class={cn(className)}>
  <div
    class="container flex flex-col items-center justify-between gap-4 py-10 md:h-24 md:flex-row md:py-0"
  >
    <div
      class="flex flex-col items-center gap-4 px-8 md:flex-row md:gap-2 md:px-0"
    >
      <a href="/" aria-label="APDI homepage">
        <img src="/favicon.png" class="size-10" alt="APDI logo" />
      </a
      >

      <p class="text-center text-sm leading-loose md:text-left balance-text">
        Alamat{" "}
        <a
          href="https://maps.app.goo.gl/PKccZs1E8HSNhZSM9"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          Asosiasi Pemimpin Digital Indonesia
        </a>
         . Email{" "}
        <a
          href="mailto:hai@pemimpindigital.id"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          hai@pemimpindigital.id
        </a>
         . WhatsApp{" "}
        <a
          href="https://wa.me/6281113802734?text=Saya%20ingin%20informasi%20lebih%20lanjut%20tentang%20APDI"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
        08111 380 2734
        </a>
        <a
          href="https://wa.me/6283898888168?text=Saya%20ingin%20informasi%20lebih%20lanjut%20tentang%20APDI"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
         / 0838 98888 168
        </a>
        . {" "}
        <a
          href="https://www.instagram.com/pemimpindigital/"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
         Instagram
        </a>
        . {" "}
        
        <a
          href="https://www.linkedin.com/company/pemimpindigital/"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
         LinkedIn
        </a>
        <!-- Temporary disabled -->
        <!-- 
        . {" "}
        <a
          href="#"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
         Facebook
        </a> -->
      </p>
    </div>

    <ThemeToggle client:idle />
  </div>
</footer>
