---
import MainLayout from "@/layouts/main-layout.astro";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

import { Eye, PenTool } from "lucide-react";
---

<MainLayout
  title="Tentang Kami"
  description="Latar belakang berdirinya APDI"
  mainClass="container py-10"
>
  <section class="space-y-10 px-4">
    <h1 class="font-heading text-2xl sm:text-4xl">Latar Belakang Berdirinya Asosiasi Pemimpin Digital Indonesia (APDI)</h1>
    <img src="/images/Member-DLA.jpg" alt="alumni DLA 2021" class="mx-auto rounded-xl shadow-xl shadow-indigo-500/50" />
    
    <ul class="sm:text-xl list-disc">
      <li>Disrupsi teknologi sebagai pintu masuk untuk menata ulang sistem dan proses bisnis semua sektor di Indonesia</li>
      <li>Pemimpin Digital adalah pendorong utama dan pengambilan keputusan strategis dalam proses transformasi dan inovasi digital</li>
      <li>Program Digital Leadership Academy (DLA) yang diselengarakan oleh Kominfo bertujuan untuk mencetak Pemimpin Digital</li>
      <li>Asosiasi Pemimpin Digital Indonesia (APDI) merupakan wadah konsolidasi, potensi, dan representasi Alumni DLA dan Pemimpin Digital lainnya</li>
    </ul>
  
  </section>
  <section class="flex flex-col lg:flex-row gap-10 justify-center mt-20">
    <Card className="drop-shadow-lg shadow-indigo-500/50">
      <CardHeader>
        <CardTitle>Misi</CardTitle>
        <CardDescription><PenTool /></CardDescription>
      </CardHeader>
      <CardContent>
        <p>Membangun sistem dan kapabilitas organisasi untuk mendukung pengembangan kepemimpinan digital. Membangun kolaborasi dan sinergi dengan berbagai pemangku kepentingan untuk mengembangkan ekonomi digital.
        </p>
      </CardContent>
    
    </Card>
    <Card className="drop-shadow-lg shadow-indigo-500/50">
      <CardHeader>
        <CardTitle>Visi</CardTitle>
        <CardDescription><Eye /></CardDescription>
      </CardHeader>
      <CardContent>
        <p>Menjadi asosiasi mitra utama Pemerintah dan Badan Usaha dalam percepatan transformasi dan inovasi digital untuk mencapai tujuan pembangunan nasional dengan menjunjung tinggi nilai moral & etika, integritas secara professional, dan kolaboratif berdasarkan Pancasila</p>
      </CardContent>
      
    </Card>
        
  </section>
</MainLayout>
