---
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="Tentang Kami"
  description="Latar belakang berdirinya APDI"
  mainClass="container py-10"
>
  <section class="space-y-10 px-4">
    <h1 class="font-heading text-2xl sm:text-4xl">Latar Belakang Berdirinya Asosiasi Pemimpin Digital Indonesia (APDI)</h1>
    <img src="/images/Member-DLA.jpg" alt="alumni DLA 2021" class="mx-auto rounded-xl shadow-xl shadow-indigo-500/50" />
    
    <ul class="sm:text-xl list-disc">
      <li>Disrupsi teknologi sebagai pintu masuk untuk menata ulang sistem dan proses bisnis semua sektor di Indonesia</li>
      <li>Pemimpin Digital adalah pendorong utama dan pengambilan keputusan strategis dalam proses transformasi dan inovasi digital</li>
      <li>Program Digital Leadership Academy (DLA) yang diselengarakan oleh Kominfo bertujuan untuk mencetak Pemimpin Digital</li>
      <li>Asosiasi Pemimpin Digital Indonesia (APDI) merupakan wadah konsolidasi, potensi, dan representasi Alumni DLA dan Pemimpin Digital lainnya</li>
    </ul>
  
  </section>
</MainLayout>
