---
import { Button, buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import Icon from "astro-icon";
import Brands from "@/components/Brands.astro";
import Stats from "@/components/Stats.astro"

import 'transition-style';
import { Input } from "@/components/ui/input";
import { Card, CardHeader, CardTitle, CardDescription, CardContent, CardFooter } from "@/components/ui/card";
import { ArrowUpCircle, GraduationCap } from "lucide-react";

import ToTopButton from "@/components/ToTopButton.jsx";
import Upcoming from "@/components/Upcoming.astro";
---

<MainLayout title="APDI">
  <!-- Adding scroll to top button - currently only on Index Page & Member Page -->
  <!-- Will add to more pages once learn about Interaction Obsever API -->
  <ToTopButton client:load />
  <section
  class="max-h-screen container max-w-screen-xl py-10 mt-10 my-5 relative rounded-xl bg-[url(https://res.cloudinary.com/primayuda/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1706178572/APDI/future-leader_mox7c7.jpg)] bg-cover bg-center bg-no-repeat"
  transition-style="in:circle:bottom-right"
  >
  <div
    class="absolute inset-0 bg-white/75 dark:bg-slate-500/75 sm:bg-transparent sm:from-white/95 dark:from-black/95 sm:to-white/25 dark:to-black/25 sm:bg-gradient-to-r rounded-xl"
  ></div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-18 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
    <div class="max-w-xl text-center sm:text-left">
      <img src="/images/LogoAPDI.png" class="w-96" alt="logo APDI"/>
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Pemimpin Digital

        <strong class="block bg-gradient-to-r from-rose-700 to-white-100 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"> Indonesia </strong>
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl/relaxed">
        Wadah untuk pembentukan, pembinaan, pengembangan, representasi, advokasi , dan kolaborasi Pemimpin Digital
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a
          href="/about#contact"
          class="block w-full rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-indigo-700 focus:outline-none focus:ring active:bg-indigo-500 sm:w-auto"
        >
          Kontak Kami
        </a>

        <a
          href="/about"
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-rose-600 shadow hover:text-rose-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto"
        >
          Tentang Kami
        </a>
      </div>
    <!-- Guest Book -->
      <div class="mt-4 w-3/4">
        <label for="guestbook" class="my-2 font-bold">Buku tamu</label>
        <Input id="guestbook" name="guestbook" placeholder="Silakan ketik email anda" />
        <Button className="mt-2" variant="outline">Kirim</Button>
      </div>
    </div>
  </div>
</section>
<Upcoming />
<Stats />
<Brands />
  <section
    id="features"
    class="container space-y-6 bg-slate-50 py-8 dark:bg-transparent md:py-12 lg:py-24"
  >
    <div
      class="mx-auto flex max-w-[58rem] flex-col items-center space-y-10 text-center"
    >
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Percepatan Transformasi Digital
      </h2>
      <img src="/images/JokowiAPDI.png" class="rounded-xl shadow-xl shadow-indigo-500/50" alt="President Jokowi" />
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-xl sm:leading-7 balance-text"
      >
        Langkah-langkah percepatan Transformasi Digital
      </p>
    </div>
    <div
      class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3"
    >
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="32" height="32" 
            viewBox="0 0 24 24" 
            fill="none" 
            stroke="currentColor" 
            stroke-width="2" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            class="lucide lucide-server"
          >
            <rect width="20" height="8" x="2" y="2" rx="2" ry="2"/>
            <rect width="20" height="8" x="2" y="14" rx="2" ry="2"/>
            <line x1="6" x2="6.01" y1="6" y2="6"/>
            <line x1="6" x2="6.01" y1="18" y2="18"/>
          </svg>

          <div class="space-y-2">
            <h3 class="font-bold">Infrastuktur</h3>
            <p class="text-sm text-muted-foreground">
              Perluasan akses dan peningkatan infrastruktur digital.
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="32" height="32" 
            viewBox="0 0 24 24" 
            fill="none" 
            stroke="currentColor" 
            stroke-width="2" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            class="lucide lucide-route"
          >
              <circle cx="6" cy="19" r="3"/>
              <path d="M9 19h8.5a3.5 3.5 0 0 0 0-7h-11a3.5 3.5 0 0 1 0-7H15"/>
              <circle cx="18" cy="5" r="3"/>
          </svg>
          <div class="space-y-2">
            <h3 class="font-bold">Roadmap</h3>
            <p class="text-sm text-muted-foreground">
              Roadmap transformasi digital di sektor sektor strategis.
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="32" height="32" 
            viewBox="0 0 24 24" 
            fill="none" 
            stroke="currentColor" 
            stroke-width="2" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            class="lucide lucide-building-2"
          >
            <path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z"/>
            <path d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2"/>
            <path d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2"/>
            <path d="M10 6h4"/>
            <path d="M10 10h4"/>
            <path d="M10 14h4"/>
            <path d="M10 18h4"/>
          </svg>
          <div class="space-y-2">
            <h3 class="font-bold">Pusat Data</h3>
            <p class="text-sm text-muted-foreground">
              Integrasi Pusat Data Nasional.
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="32" height="32" 
            viewBox="0 0 24 24" 
            fill="none" 
            stroke="currentColor" 
            stroke-width="2" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            class="lucide lucide-users-round"
          >
            <path d="M18 21a8 8 0 0 0-16 0"/>
            <circle cx="10" cy="8" r="5"/>
            <path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3"/>
          </svg>
          
          <div class="space-y-2">
            <h3 class="font-bold">Sumber Daya Manusia</h3>
            <p class="text-sm text-muted-foreground mt-3">
              Siapkan kebutuhan SDM talenta digital.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            class="size-12 fill-current"
          >
            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
          </svg>
          <div class="space-y-2">
            <h3 class="font-bold">Authentication</h3>
            <p class="text-sm text-muted-foreground">
              <b>Not sure yet</b>. Authentication using Auth.js (astro-auth).
            </p>
          </div>
        </div>
      </div> -->
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="32" height="32" 
            viewBox="0 0 24 24" 
            fill="none" 
            stroke="currentColor" 
            stroke-width="2" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            class="lucide lucide-scale">
              <path d="m16 16 3-8 3 8c-.87.65-1.92 1-3 1s-2.13-.35-3-1Z"/>
              <path d="m2 16 3-8 3 8c-.87.65-1.92 1-3 1s-2.13-.35-3-1Z"/>
              <path d="M7 21h10"/>
              <path d="M12 3v18"/>
              <path d="M3 7h2c2 0 5-1 7-2 2 1 5 2 7 2h2"/>
          </svg>
          <div class="space-y-2">
            <h3 class="font-bold">Regulasi</h3>
            <p class="text-sm text-muted-foreground">
              Regulasi, terkait skema pendanaan dan pembiayaan transformasi digital.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto text-center md:max-w-[58rem]">
      <p
        class="leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
      >
      Arahan Presiden Jokowi pada pembentukan Asosiasi Pemimpin Digital Indonesia
      </p>
    </div>
  </section>
  <section id="open-source" class="container py-8 md:py-12 lg:py-28">
    <div
      class="mx-auto flex max-w-[58rem] flex-col items-center justify-center gap-4 text-center"
    >
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Kami bantu Transformasi Digital anda
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
      >
        Asosiasi Pemimpin Digital terbuka untuk bekerjasama dengan lembaga maupun professional dalam rangka percepatan Transformasi Digital Indonesia.
      </p>
      <div class="container grid grid-rows md:grid-cols-2 lg:grid-cols-4 gap-4">
        <Card className="shadow-xl">
          <CardHeader>
            <CardTitle>
              <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="48" height="48" 
                viewBox="0 0 24 24" 
                fill="none" 
                stroke="currentColor" 
                stroke-width="2" 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                class="lucide lucide-graduation-cap"
                aria-label="graduation cap icon"
                >
                  <path d="M22 10v6M2 10l10-5 10 5-10 5z"/>
                  <path d="M6 12v5c3 3 9 3 12 0v-5"/>
              </svg>
            </CardTitle>
          </CardHeader>
          <CardContent>
            <p>Membangun sistem dan organisasi untuk mendukung pengembangan kepemimpinan digital
            </p>
          </CardContent>
        </Card>
        
        <Card className="shadow-xl">
          <CardHeader>
            <CardTitle>
              <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="48" height="48" 
                viewBox="0 0 24 24" 
                fill="none" 
                stroke="currentColor" 
                stroke-width="2" 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                class="lucide lucide-boxes"
                aria-label="block icon"
                >
                  <path d="M2.97 12.92A2 2 0 0 0 2 14.63v3.24a2 2 0 0 0 .97 1.71l3 1.8a2 2 0 0 0 2.06 0L12 19v-5.5l-5-3-4.03 2.42Z"/>
                  <path d="m7 16.5-4.74-2.85"/>
                  <path d="m7 16.5 5-3"/>
                  <path d="M7 16.5v5.17"/>
                  <path d="M12 13.5V19l3.97 2.38a2 2 0 0 0 2.06 0l3-1.8a2 2 0 0 0 .97-1.71v-3.24a2 2 0 0 0-.97-1.71L17 10.5l-5 3Z"/>
                  <path d="m17 16.5-5-3"/>
                  <path d="m17 16.5 4.74-2.85"/>
                  <path d="M17 16.5v5.17"/>
                  <path d="M7.97 4.42A2 2 0 0 0 7 6.13v4.37l5 3 5-3V6.13a2 2 0 0 0-.97-1.71l-3-1.8a2 2 0 0 0-2.06 0l-3 1.8Z"/>
                  <path d="M12 8 7.26 5.15"/>
                  <path d="m12 8 4.74-2.85"/>
                  <path d="M12 13.5V8"/>
              </svg>
            </CardTitle>
          </CardHeader>
          <CardContent>
            <p>Mengembangkan platform untuk meningkatkan efisiensi dan efektifitas proses bisnis digital
            </p>
          </CardContent>
        </Card>
        <Card className="shadow-xl">
          <CardHeader>
            <CardTitle>
              <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="48" height="48" 
                viewBox="0 0 24 24" 
                fill="none" 
                stroke="currentColor" 
                stroke-width="2" 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                class="lucide lucide-combine"
                aria-label="combine icon"
              >
                <rect width="8" height="8" x="2" y="2" rx="2"/>
                <path d="M14 2c1.1 0 2 .9 2 2v4c0 1.1-.9 2-2 2"/>
                <path d="M20 2c1.1 0 2 .9 2 2v4c0 1.1-.9 2-2 2"/>
                <path d="M10 18H5c-1.7 0-3-1.3-3-3v-1"/>
                <polyline points="7 21 10 18 7 15"/>
                <rect width="8" height="8" x="14" y="14" rx="2"/>
              </svg>
            </CardTitle>
          </CardHeader>
          <CardContent>
            <p>Membangun kolaborasi dan sinergi dengan berbagai pemangku kepentingan untuk meningkatkan literasi digital
            </p>
          </CardContent>
        </Card>
        <Card className="shadow-xl">
          <CardHeader>
            <CardTitle>
              <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="48" height="48" 
                viewBox="0 0 24 24" 
                fill="none" 
                stroke="currentColor" 
                stroke-width="2" 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                class="lucide lucide-star"
                aria-label="star icon"
              >
                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
              </svg>
            </CardTitle>
          </CardHeader>
          <CardContent>
            <p>Menciptakan kemampuan inovasi digital yang berkelanjutan, berdaya saing, berwawasan lingkungan dan bermanfaat bagi masyarakat
            </p>
          </CardContent>
        </Card>
      </div>
    </div>
  </section>
</MainLayout>
