---
export const prerender = true;

import MainLayout from "@/layouts/main-layout.astro";
import MemberCard from "@/components/cards/member-card.astro"
import { getCollection } from "astro:content";
import Icon from "astro-icon";

const allMembers = await getCollection('members');
// console.log(allMembers);
const founders = allMembers.filter(member => member.data.founder);
const members = allMembers.filter(member => !member.data.founder);
// console.log(founders);

// Skills Array from Founders
const initialValue: string[] = [];
const mergedFoundersSkills = founders.reduce((accumulator, member) => accumulator.concat(member.data.skills), initialValue);

// Skills Array from Members
const mergedMembersSkills = members.reduce((accumulator, member) => accumulator.concat(member.data.skills), initialValue );

// Combine both and create array of object containing frequencys of each skill
const mergedSkills = mergedFoundersSkills.concat(mergedMembersSkills);
// console.log(mergedSkills);
// skillsCount array will be [{skill: "Data Management", count: 1}, {skill: "IT Transformation", count: 2} ]

let initialSkills = {}
let skillsCount = mergedSkills.reduce(function (value:any, value2:any) {
    return (
        value[value2] ? ++value[value2] :(value[value2] = 1),
        value
    );
}, initialSkills);

const skillsCountArray = Object.entries(skillsCount);
// console.log(skillsCountArray);

// Adding back to Top button
import ToTopButton from "@/components/ToTopButton";
import { Badge } from "@/components/ui/badge"

---

<MainLayout
  title="Member"
  description="Association Members"
  mainClass="min-h-screen container max-w-screen-xl py-10"
>
<!-- Adding scroll to top button - currently only on Index Page & Member Page -->
  <ToTopButton client:load />
  <section>
    <div class="space-y-6 text-center mb-4">
      <h1 class="font-heading text-4xl text-center">
        Anggota Asosiasi Pemimpin Digital Indonesia
      </h1>
      <p class="text-muted-foreground text-md">
        Silakan explorasi anggota APDI untuk koneksi professional.
        Jika butuh bantuan, silakan kontak sekretariat kami.
      </p>
      <span class="flex items-center lg:w-full max-w-xs h-10 rounded-md px-2 lg:px-3 border text-muted-foreground mx-auto">
        <Icon name="ri:search-line" class="size-5" />
        <span class="text-sm ml-2 hidden lg:flex">Search (coming soon)</span>
      </span>
<!-- Show all competence with the count. TODO: filter based on the selected competence --> 
      <h2 class="font-heading text-xl text-center">Kompetensi anggota APDI</h2>
      <div class="container gap-2">
        {skillsCountArray.map((skill) => 
          <Badge variant="outline" className="mx-2 my-2 rounded-full">
            {skill[0]} {skill[1] > 1 && <span class="font-semibold ml-3 text-indigo-400">{skill[1]}</span>}
          </Badge>)}
      </div>
      
    </div>
  </section>
  <!-- TODO: Provide title of Pengurus & Pengawas APDI -->
  <section class="p-1 rounded-xl bg-gradient-to-r from-blue-700 via-blue-500 to-blue-400">
    <div class="bg-slate-100 dark:bg-gray-800 dark:text-gray-100 p-2 rounded-xl">
      <div class="container flex flex-col items-center justify-center p-4 mx-auto sm:p-10">
        <p class="p-2 text-sm font-medium tracki text-center uppercase">Inisiator terbentuknya APDI</p>
        <h1 class="text-3xl font-bold leadi text-center sm:text-5xl">Pengurus dan Pengawas</h1>
        <div class="flex flex-row flex-wrap-reverse justify-center mt-8">
          {founders.map(member => <MemberCard {...member} />)}
        </div>
      </div>
    </div>
    
  </section>
  <section class="py-6 dark:bg-gray-800 dark:text-gray-100">
    <div class="container flex flex-col items-center justify-center p-4 mx-auto sm:p-10">
      <h1 class="text-3xl font-bold leadi text-center sm:text-5xl">Anggota</h1>
      <div class="flex flex-row flex-wrap-reverse justify-center mt-8">
        {members.map(member => <MemberCard {...member} />)}
      </div>
    </div>
  </section>
</MainLayout>
