---
import MainLayout from "@/layouts/main-layout.astro";
import MemberCard from "@/components/cards/member-card.astro"
import { getCollection } from "astro:content";
import Icon from "astro-icon";

const allMembers = await getCollection('members');
// console.log(allMembers);
const founders = allMembers.filter(member => member.data.founder);
const members = allMembers.filter(member => !member.data.founder);
// console.log(founders);

import ToTopButton from "@/components/ToTopButton";
---

<MainLayout
  title="Member"
  description="Association Members"
  mainClass="min-h-screen container max-w-screen-xl py-10"
>
<!-- Adding scroll to top button - currently only on Index Page & Member Page -->
  <ToTopButton client:load />
  <section>
    <div class="space-y-6 text-center mb-4">
      <h1 class="font-heading text-4xl text-center">
        Anggota Asosiasi Pemimpin Digital Indonesia
      </h1>
      <p class="text-muted-foreground text-md">
        Silakan explorasi anggota APDI untuk koneksi professional.
        Jika butuh bantuan, silakan kontak sekretariat kami.
      </p>
      <span class="flex items-center lg:w-full max-w-xs h-10 rounded-md px-2 lg:px-3 border text-muted-foreground mx-auto">
        <Icon name="ri:search-line" class="size-5" />
        <span class="text-sm ml-2 hidden lg:flex">Search (coming soon)</span>
      </span>
    </div>
  </section>
  <section class="p-1 rounded-xl bg-gradient-to-r from-blue-700 via-blue-500 to-blue-400">
    <div class="bg-slate-100 dark:bg-gray-800 dark:text-gray-100 p-2 rounded-xl">
      <div class="container flex flex-col items-center justify-center p-4 mx-auto sm:p-10">
        <p class="p-2 text-sm font-medium tracki text-center uppercase">Inisiator terbentuknya APDI</p>
        <h1 class="text-3xl font-bold leadi text-center sm:text-5xl">Pengurus dan Pengawas</h1>
        <div class="flex flex-row flex-wrap-reverse justify-center mt-8">
          {founders.map(member => <MemberCard {...member} />)}
        </div>
      </div>
    </div>
    
  </section>
  <section class="py-6 dark:bg-gray-800 dark:text-gray-100">
    <div class="container flex flex-col items-center justify-center p-4 mx-auto sm:p-10">
      <h1 class="text-3xl font-bold leadi text-center sm:text-5xl">Anggota</h1>
      <div class="flex flex-row flex-wrap-reverse justify-center mt-8">
        {members.map(member => <MemberCard {...member} />)}
      </div>
    </div>
  </section>
</MainLayout>
