---
import MainLayout from "@/layouts/main-layout.astro";

import 'transition-style';

---
<MainLayout 
  title="Profile"
  description="Association Members profile"
  mainClass="max-h-screen container max-w-screen-xl py-10"
>
  <!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<section
  class="relative rounded-xl bg-[url(https://res.cloudinary.com/primayuda/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1706178572/APDI/future-leader_mox7c7.jpg)] bg-cover bg-center bg-no-repeat"
  transition-style="in:circle:bottom-right"
  >
  <div
    class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 sm:bg-gradient-to-r rounded-xl"
  ></div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
    <div class="max-w-xl text-center sm:text-left">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Pemimpin Digital

        <strong class="block bg-gradient-to-r from-rose-700 to-white-100 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"> Indonesia </strong>
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl/relaxed">
        Wadah untuk pembentukan, pembinaan, pengembangan, representasi, advokasi , dan kolaborasi Pemimpin Digital
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a
          href="#"
          class="block w-full rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
        >
          Get Started
        </a>

        <a
          href="#"
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-rose-600 shadow hover:text-rose-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto"
        >
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>
</MainLayout>

