---
import MainLayout from "@/layouts/main-layout.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

---
<MainLayout 
  title="Profile"
  description="Association Members profile"
  mainClass="max-h-screen container max-w-screen-xl py-10"
>
  <section class="my-4">
    
    <Card>
      <CardHeader>
        <div class="max-w-screen mx-auto">
          <CardTitle>Member Name</CardTitle>
          <CardDescription>Member Position at APDI</CardDescription>
        </div>
        
      </CardHeader>
      <CardContent>
        <div class="grid place-items-center grid-cols-1 lg:grid-cols-3 gap-4 shrink">
          <div class="col-span-2 border-solid border-2 border-indigo-300 rounded-lg p-2 overflow-scroll">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit turpis cursus in hac. Vel eros donec ac odio tempor orci dapibus ultrices. Pharetra pharetra massa massa ultricies mi. Mi proin sed libero enim sed faucibus turpis in. Id venenatis a condimentum vitae sapien. Amet volutpat consequat mauris nunc. Risus sed vulputate odio ut enim blandit. Imperdiet massa tincidunt nunc pulvinar sapien. Lectus urna duis convallis convallis tellus id. At volutpat diam ut venenatis tellus in metus. Odio pellentesque diam volutpat commodo sed egestas egestas. Gravida dictum fusce ut placerat. Varius vel pharetra vel turpis nunc eget lorem dolor. At varius vel pharetra vel turpis nunc eget.

              Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Aliquam etiam erat velit scelerisque in. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus. Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Lorem ipsum dolor sit amet consectetur adipiscing elit. A scelerisque purus semper eget. Maecenas pharetra convallis posuere morbi. Scelerisque in dictum non consectetur. Tellus id interdum velit laoreet id donec ultrices. Tempus imperdiet nulla malesuada pellentesque elit. Nibh praesent tristique magna sit amet purus gravida. Ipsum dolor sit amet consectetur adipiscing elit duis tristique sollicitudin. Amet massa vitae tortor condimentum lacinia quis vel. Et ligula ullamcorper malesuada proin libero nunc consequat interdum.
            </p>
          </div>
          
          <div class="border-solid border-2 border-indigo-300 rounded-lg p-4 flex">
            <img class="mx-auto my-auto max-h-36" src="/images/business-woman-2756210_1280-removebg.png" />
          </div>
          
        </div>        
      </CardContent>
      <CardFooter>
        <div class="">
          <p>Member contacts</p>
        </div>
        
      </CardFooter>
    </Card>
    
  </section>
</MainLayout>

