---
import { Button } from "@/components/ui/button"
import MainLayout from "@/layouts/main-layout.astro"
---
<MainLayout 
  title="Thanks"
  description="Thanks for the feedback"
  mainClass="container w-96 mx-auto text-center"
>
  <img src="/images/LogoAPDI.png" alt="Logo APDI" class="h-32" />
  <h1 class="font-heading text-3xl">Terima kasih</h1>
  <p class="mb-5">Kami telah menerima pesan/feedback anda</p>
  <a href="/about">
    <Button variant="outline">Kembali</Button>
  </a>
 
</MainLayout>
