---

---
<section class="container my-10">
  <h1 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl text-center my-5">Upcoming event</h1>
  <img src="/images/DLA2023banner.png" alt="DLA summit banner" class="rounded-2xl shadow-xl shadow-indigo-500/50" />
</section>
