---

---
<section class="container my-10">
  <h1 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl text-center my-5">Upcoming event</h1>
  <a href="/blog/lemhanas/"><img src="/images/Lemhanas-APDI.png" alt="Kursus Lemhanas RI" width="60%" height="auto" class="rounded-2xl shadow-xl shadow-indigo-500/50 mx-auto" /></a>
</section>
